CSharp/Wcf/WebApp/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50434/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50434/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetHello_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHello" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TestMethodStr_InputMessage">
    <wsdl:part name="parameters" element="tns:TestMethodStr" />
  </wsdl:message>
  <wsdl:message name="IService1_TestMethodStr_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestMethodStrResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdd" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJson" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetScan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScan" />
  </wsdl:message>
  <wsdl:message name="IService1_GetScan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScanResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHello" message="tns:IService1_GetHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHelloResponse" message="tns:IService1_GetHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestMethodStr">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TestMethodStr" message="tns:IService1_TestMethodStr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TestMethodStrResponse" message="tns:IService1_TestMethodStr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAdd" message="tns:IService1_GetAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAddResponse" message="tns:IService1_GetAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetJson" message="tns:IService1_GetJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetJsonResponse" message="tns:IService1_GetJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetImage" message="tns:IService1_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetImageResponse" message="tns:IService1_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetScan" message="tns:IService1_GetScan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetScanResponse" message="tns:IService1_GetScan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHello">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMethodStr">
      <soap:operation soapAction="http://tempuri.org/IService1/TestMethodStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdd">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJson">
      <soap:operation soapAction="http://tempuri.org/IService1/GetJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScan">
      <soap:operation soapAction="http://tempuri.org/IService1/GetScan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50434/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>