CSharp/Wcf/WcfConsole/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_TestMethodStr_InputMessage">
    <wsdl:part name="parameters" element="tns:TestMethodStr" />
  </wsdl:message>
  <wsdl:message name="IService1_TestMethodStr_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestMethodStrResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TestMethodInt_InputMessage">
    <wsdl:part name="parameters" element="tns:TestMethodInt" />
  </wsdl:message>
  <wsdl:message name="IService1_TestMethodInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestMethodIntResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TestMethodDou_InputMessage">
    <wsdl:part name="parameters" element="tns:TestMethodDou" />
  </wsdl:message>
  <wsdl:message name="IService1_TestMethodDou_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestMethodDouResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="TestMethodStr">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TestMethodStr" message="tns:IService1_TestMethodStr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TestMethodStrResponse" message="tns:IService1_TestMethodStr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestMethodInt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TestMethodInt" message="tns:IService1_TestMethodInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TestMethodIntResponse" message="tns:IService1_TestMethodInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestMethodDou">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TestMethodDou" message="tns:IService1_TestMethodDou_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TestMethodDouResponse" message="tns:IService1_TestMethodDou_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestMethodStr">
      <soap:operation soapAction="http://tempuri.org/IService1/TestMethodStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMethodInt">
      <soap:operation soapAction="http://tempuri.org/IService1/TestMethodInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMethodDou">
      <soap:operation soapAction="http://tempuri.org/IService1/TestMethodDou" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:81/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>